body {
  background: tomato;
  margin: 7em 0;
  font-family: sans-serif;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  top: .5em; }

div {
  width: 25%;
  flex: auto;
  margin: 1em;
  line-height: 6;
  margin-bottom: 2em;
  text-align: center;
  background: lightblue;
  transition: all 1s; }
  div:hover {
    color: #fff; }

.uno {
  box-shadow: 5px 0 #E91F5B inset; }
  .uno:hover {
    box-shadow: 500px 0 #E91F5B inset; }

.dos {
  box-shadow: -5px 0 #E91F5B inset; }
  .dos:hover {
    box-shadow: -500px 0 #E91F5B inset; }

.tres {
  box-shadow: 0 5px #E91F5B inset; }
  .tres:hover {
    box-shadow: 0 100px #E91F5B inset; }

.cuatro {
  box-shadow: 0 -5px #E91F5B inset; }
  .cuatro:hover {
    box-shadow: 0 -100px #E91F5B inset; }

.cinco {
  box-shadow: 5px 0 #E91F5B inset, -5px 0 #E91F5B inset; }
  .cinco:hover {
    box-shadow: -250px 0 #E91F5B inset, 250px 0 #E91F5B inset; }

.seis {
  box-shadow: 0 0 #E91F5B inset, 0 0 #E91F5B inset; }
  .seis:hover {
    box-shadow: 0 50px #E91F5B inset, 0 -50px #E91F5B inset; }
