<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Background slide
        link(rel="stylesheet", href="css/estilos.css")
    body
    h1 Backgraound slice
    .uno Left to rigth.
    .dos Rigth to left.
    .tres Top to Bottom.
    .cuatro Bottom to top.
    .cinco Doble slice horizontal.
    .seis Doble slice vertical.